.nwc-modal {
  width: 600px;
}

.nwc-tab-description {
  margin: 0;
  font-size: 12px;
  color: #666;
  font-style: italic;
}

.nwc-disclaimer {
  margin: 8px 0 0;
  font-size: 11px;
  color: #555;
  font-style: italic;
  line-height: 1.5;
}
